nose_data.txt
r2histdata.txt
gaphistdata.txt
*.swp
*.swo
data/
*.o
*.d
*.so
*.pcm
coverage.pdf
limit_plot.pdf
scatterr2.pdf
r2min-n-1.pdf
fmax-n-1.pdf
limit
*histdat.txt
scatter
*ACLiC*
mouth_data.txt
scatterfmax.pdf
fmax-n-2.pdf
fig-thetax.pdf
limit_sensitivity
limit_sensitivity_plot.pdf
limitsensitivityfastdata.txt
limit_sensitivity_fast_heavy
limit_sensitivity_fast_heavy_plot.pdf
limit_sensitivity_fast
limit_sensitivity_fast_plot.pdf
limit_sensitivity_slow
limit_sensitivity_slow_plot.pdf
limit_sensitivity_slowfast
limit_sensitivity_slowfast_plot.pdf
limitsensitivityslowdata.txt
